<!DOCTYPE html>
<html lang="es" ng-app="ShoppingListAsApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Custom Service</title>
</head>
<body>
    <h1>Custom Service</h1>
    <div ng-controller="ShoppingListAddController as itemAdder">
        <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
        <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
        <button ng-click="itemAdder.addItem();">Add item to shopping list</button>
        <!-- <div ng-controller="ChildController1">
        </div> -->
    </div>

    <div ng-controller="ShoppingListRemoveController as removeItem">
        <input type="text" ng-model="removeItem.id" placeholder="id item to remove">
        <button ng-click="removeItem.removeItemId();">Remove item</button>
    </div>

    <div ng-controller="ShoppingListShowController as showList">
        <ol>
            <li ng-repeat="item in showList.items">
                {{item.quantity}} of {{item.name}}
            </li>
        </ol>
    </div>
</body>
</html>